/* Reset de box-sizing para evitar que padding aumente a largura */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    background-color: #cff4ca;
    color: #333;
}

.h1-Principal h1 {
    text-align: center;
    color: #ffffff;
    background-color: #4a9d3f;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

input {
    padding: 15px;
    margin: 5px 0;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.botaoEscolha {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #70ad68;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    width: 100%;
    max-width: 200px;
}

.botaoDesfazer{
    padding: 10px 15px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #ff2a2a;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
    width: 100%;
    max-width: 200px;
}

button:hover {
    background-color: #0056b3;
}

.lista-presentes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.presente-card {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.4s ease;
    margin: 0 auto;
}

.presente-img {
    width: 160px;   /* antes era 100px */
    height: auto;  /* aumenta proporcionalmente */
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}

.presente-card strong {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.presente-card a {
    margin-top: 5px;
    text-decoration: none;
    color: #007bff;
}

.presente-card a:hover {
    text-decoration: none;
    background-color: #70ad68
    color(rgb(4, 72, 4))
}

.presenteEscolhido{
    color:red;
    font-size:15px;
}

.acoes-gerais {
    text-align: center;
    margin-bottom: 20px;
}

.imgCapa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    margin-bottom: 30px;
}

.imgCapa img{
    width: 100%;
    height: auto;
    display: block;
    max-width: 400px;
}

.infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center; 
    margin: 0 auto;
    gap: 20px; 
}

.infosPedido{
    width: 90%;
    background-color: #96da8d;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    
}

.infosPedido p{
    width: 100%;
    font-size: 15px;
    color: #1e1e1e;
    text-align: justify;
    line-height: 1.5;
}

.infosPedido h1{
    font-size: 18px;
    color: black;
}

.textoGratidao{
    width: 90%;
    height: auto;
    text-align: center;
    background-color: #54834e;
    padding: 25px;
    border-radius: 10px;
}

.textoGratidao p{
    width: 100%;
    font-size: 20px;
    color: #fff;
    text-align: justify;
    line-height: 1.5;
}

footer{
    margin-top: 20px;
    font-size: 13px;
    width: 100%;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

/* Ajustes específicos para telas pequenas */
@media (max-width: 768px) {
    body {
        margin: 0px 7px 0px 7px;
    }

    .infos{
        padding: 10px;
    }

    .textoGratidao{
        width: 100%;
        max-width: 100%;
    }

    .infosPedido{
        width: 100%;
        max-width: 100%;
    }

    .infosPedido p,.textoGratidao p{
        font-size: 20px;
        text-align: left;
    }

    .infosPedido h1{
        font-size: 20px;
    }

    .lista-presentes {
        display: flex;      /* Mantenha o display flex */
        flex-direction: column; /* Alinha os itens em coluna */
        align-items: center; /* Centraliza os itens */
    }
    .presente-card {
        max-width: 100%;
        width: 100%; /* Garante que o cartão ocupe toda a largura */
        margin-bottom: 10px;
        margin-top: 10px;
        transition: background-color 0.4s ease;
    }

    .presente-card strong {
        font-size: 20px;
        max-width: 80%;
        margin-bottom: 5px;
        text-align: center;
    }

    input{
        max-width: 100%;
        padding: 10px;
        width: 100%;
        font-size: 15px;
        margin: 3px;
    }

    .inputs {
        margin-bottom: 3px;
    }

    .acoes-gerais {
        max-width: 100%;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .botaoEscolha{
        max-width: 50%;
        font-size: 25px;
        margin-bottom: 10px;
    }

    .botaoEscolha:hover{
        background-color: green;
        transition: background-color 0.5s ease;
    }

    .botaoDesfazer{
        max-width: 100%;
        padding: 8px;
        font-size: 15px;
    }

    .botaoDesfazer:hover{
        background-color: #a80909;
        transition: background-color 0.5s ease;
    }

    .h1-Principal h1{
        margin-top: 0;
        font-size: 25px;
        padding: 5px;
    }

    .presente-img {
        width: 160px;   /* antes era 100px */
        height: auto;  /* aumenta proporcionalmente */
        object-fit: cover;
        border-radius: 10px;
        margin: 5px;
    }

    .presenteEscolhido{
        color:red; 
        font-size:20px;
        text-align: center;
    }

    .presente-card a {
        margin: 5px;
        text-decoration: none;
        color: hsl(102, 92%, 36%);
        font-size: 25px;
    }

    .presente-card a:hover {
        text-decoration: none;
        color: rgb(58, 245, 34);
        transition: color 0.5s ease;
    }

    
}
